*{
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}
body{
	color: #fff;
	background: #8C4B7E;
	padding: 3% 10%;
}
body>h3{
	margin-top: 5%;
	text-shadow: 1px 1px 0 #333;
	text-align: center;
}
.projectloadingdots,.projectmakesortable,.projectdrag{
	position: relative;
	color: #eee;
	width: 100%;
	padding: 3% 0;
	border-bottom: 2px solid rgba(255,255,255,0.2);
}
/*------------------------------*/
.projectloadingdots .dot{
	text-align: center;
	margin: 20px 0;
}
/*---------------------------------*/
.projectmakesortable table{
	color: #000;
	width: 500px;
	margin: 20px auto;
	text-align: center;
	border-collapse: collapse;
	line-height: 2em;
	background-color: #cfcfcf;
	font-size: 14px;
}
.projectmakesortable td,.projectmakesortable th{
	border: 1px solid #000;
}
.projectmakesortable tbody tr:nth-child(2n-1){
	background-color: #efefef;
}
.projectmakesortable thead tr{
	background-color: #aaa;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/*------------------------------------*/
.projectdrag{
	height: 60vh;
	margin: 20px 0;
	color: #000;
}
.projectdrag .dragbox{
	position: absolute;
	left: 150px;
	top: 100px;
	width: 250px;
	background-color: #eee;
	border: 1px solid #000;
	font-size: 12px;
}
.projectdrag .dragheader{
	background-color: #ccc;
	border-bottom: 1px solid #000;
	padding: 3px;
	font-weight: bold;
}
.projectdrag .dragcontent{
	padding: 3px;
}





.triangle{
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.05);
	transform: skew(-30.5deg) scale(3);
}
.triangle.loaded{
	transform: skew(-30.5deg) scale(1);
	transition: transform 0.8s;
}