.col-content.changesm{
	animation: contentchangesm 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
	-webkit-animation: contentchangesm 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
	-moz-animation: contentchangesm 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
@keyframes contentchangesm{
	100%{transform: scale(0.6);opacity: 0}
}
@-webkit-keyframes contentchangesm{
	100%{transform: scale(0.6);opacity: 0}
}
@-moz-keyframes contentchangesm{
	100%{transform: scale(0.6);opacity: 0}
}

.col iframe.changelg{
	animation: iframechangelg 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards 0.2s;
	-webkit-animation: iframechangelg 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards 0.2s;
	-moz-animation: iframechangelg 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards 0.2s;
}
@keyframes iframechangelg{
	100%{opacity:1;transform: scale(1);}
}
@-webkit-keyframes iframechangelg{
	100%{opacity:1;transform: scale(1);}
}
@-moz-keyframes iframechangelg{
	100%{opacity:1;transform: scale(1);}
}