/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body{
    font-family: "microsoft yahei", sans-serif;
}

address, cite, em { font-style: normal; } /* 将斜体扶正 */
code, pre { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

img { border: none; } /* 让链接里的 img 无边框(IE) */

button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
body{
	overflow: hidden;
	background: #333;
}
a{
	color: #fff;
}
/*主页面*/
.main{
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	position: relative;
	height: 100vh;
	width: 100%;
	-webkit-transform-origin: right center;
	        transform-origin: right center;
}
/*侧边栏出现时 主页面transform*/
.main.active{
	-webkit-transform: perspective(800px) rotateY(-5deg);
	        transform: perspective(800px) rotateY(-5deg);
}
/*顶部固定栏*/
.topbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	background-color: rgba(255,255,255,0.1);
	z-index: 4;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: 1;
	overflow: hidden;
	-webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.topbar.inactive{
	opacity: 0;
}
.topbar.short{
	width: 10vh;
}
.topbar-title{
	font-size: 20px;
	font-weight: lighter;
}
.topbar-info{
	font-size: 12px;
	font-weight: lighter;
}
.topbar-icon{
	position: absolute;
	left: 0;
	top: 0;
	width: 10vh;
	height: 10vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	-webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
.topbar-icon:hover{
	background-color: rgba(255,255,255,0.4);
}
/*左侧栏*/
.leftbar{
	position: absolute;
	top: 0vh;
	width: 25%;
	min-width: 200px;
	height: 80vh;
	padding: 10vh 0;
	left: -25%;
	-webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	background-color: #379392;
	border-right: 1px solid #379392;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	font-weight: lighter;
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
}
.leftbar h1{
	font-weight: lighter;
}
.leftbar-title{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 10vh;
	text-align: center;
	font-weight: bold !important;
	background-color: rgba(255,255,255,0.1);
}
.leftbar img{
	width: 160px;
	height: 160px;
	border: 10px solid #fff;
	background-color: #fff;
	box-shadow: 1px 1px 1px #444;
	box-shadow: none\9;
}
.leftbar .myinfo{
	padding: 0 5%;
	width: 90%;
	font-size: 12px;
	line-height: 1.5em;
}
.leftbar .contact{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: lighter;
}
.leftbar .copy{
	font-size: 12px;
	line-height: 2em;
	position: relative;
	bottom: -10vh;
	width: 100%;
	background-color: rgba(255,255,255,0.1);
	text-align: center;
}
/*左侧栏激活*/
.leftbar.active{
	left: 0;
}
/*遮罩层*/
.shadelayer{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
/*遮罩层激活*/
.shadelayer.active{
	opacity: 1;
}
/*柱状图*/
.col{
	position: absolute;
	min-height: 100vh;
	width: 14.28%;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: left,width,opacity,-webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: left,width,opacity,-webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: left,width,opacity,transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: left,width,opacity,transform 0.6s cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	z-index: 1;
	box-shadow: 0 0 50px rgba(0,0,0,0.6);
}
/*柱状图激活*/
.col.active{
	z-index: 2;
	left: 0;
	width: 100%;
	background-color: #000;
	-webkit-transition: left,width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: left,width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
/*其他柱状图非激活*/
.col.inactive{
	opacity: 0;
	-webkit-transform: translateY(-100vh);
	        transform: translateY(-100vh);
}
.col > h3{
	color: #fff;
	text-align: center;
	margin-top: 40vh;
	white-space: nowrap;
	font-weight: normal;
	-webkit-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
	text-shadow: 0 0 5px #000;
}
.col:hover > h3{
	-webkit-transform: scale(2);
	        transform: scale(2);
}
/*以下：柱状图背景*/
.col1,.col1 .col-content{
	top: -120vh;
	left: 0;
	background-color: #E62739;
}
.col2,.col2 .col-content{
	top: 120vh;
	left: 14.28%;
	background-color: #FF5A09;
}
.col3,.col3 .col-content{
	top: -120vh;
	left: 28.56%;
	background-color: #FFFC31;
}
.col4,.col4 .col-content{/*轮播插件*/
	top: 120vh;
	left: 42.84%;
	background-color: #31B96E;
}
.col5,.col5 .col-content{/*AJAX项目*/
	top: -120vh;
	left: 57.12%;
	background-color: #79BEDB;
}
.col6,.col6 .col-content{/*FCC项目*/
	top: 120vh;
	left: 71.4%;
	background-color: #005B9A;
}
.col7,.col7 .col-content{/*其他项目*/
	top: -120vh;
	left: 85.68%;
	background-color: #660066;
}
/*柱状图遮罩*/
.col:before{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.05);
	-webkit-transform: skew(-30.5deg);
	        transform: skew(-30.5deg);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.col:hover:before{
	-webkit-transform: scale(2) skew(-30.5deg);
	        transform: scale(2) skew(-30.5deg);
	background-color: rgba(255,255,255,0.15);
}
/*按钮*/
.close,.gotogithub{
	position: fixed;
	display: block;
	right: 30px;
	top: 15px;
	width: 40px;
	height: 40px;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid #fff;
	cursor: pointer;
	z-index: 999;
	display: none;
}
.gotogithub{
	top: 65px;
}
/*柱状图展开后的内容区*/
.col-content{
	position: fixed;
	padding:10vh 10vw;
	left: 0 !important;
	width: 80vw;
	height: 80vh;
	cursor: auto;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	overflow: hidden;
	-webkit-transform: scaleX(0.1428);
	        transform: scaleX(0.1428);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.col-content.active{
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
}
.col-content:before{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	background-color: rgba(0,0,0,0.05);
	-webkit-transform: rotate(-45deg) scale(1.8);
	        transform: rotate(-45deg) scale(1.8);
}
.col-content>*{
	position: relative;
	z-index: 1;
}

.col-h1 h1{
	text-indent: 10px;
	line-height: 40px;
}
.col-h1 h1:before{
	position: absolute;
	height: 45px;
	width: 5px;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(255,255,255,0.2);
}
/*查看详情按钮*/
.detail{
	display: block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	text-shadow: 1px 1px 0 #333;
}
.detail:hover{
	background-color: rgba(255,255,255,0.6) !important;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
/*iframe*/
.col iframe{
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	-webkit-transform: scale(0.6);
	        transform: scale(0.6);
	opacity: 0;
}
.col1 iframe{
	background-color: #E62739;
}
.col2 iframe{
	background-color: #FF5A09;
}
.col3 iframe{
	background-color: #FFE74C;
}
.col4 iframe{
	background-color: #31B96E;
}
.col5 iframe{
	background-color: #79BEDB;
}
.col6 iframe{
	background-color: #30BCED;
}
.col7 iframe{
	background-color: #660066;
}
/*iframe的loading*/
.loading{
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,0.5);
	z-index: 3;
	top: 40%;
}

/*----------------col1 flex------------------*/
.col1 .col-content{
	-webkit-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.col1 .col-h1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150px;
	height: 120px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.col1-info{
	font-size: 12px;
	line-height: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.col1-rightinfo{
	position: relative;
	list-style-position: inside;
	padding: 20px;
	border-left: 4px solid rgba(255,255,255,0.2);
}
.col1-rightinfo:before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: -24px;
	top: 46%;
	border-right: 15px solid rgba(255,255,255,0.2);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.col1-next{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 200px;
	height: 130px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-ms-flex-item-align: center;
	    align-self: center;
}
/*-------------------col2 flex-----------------*/
.col2 .col-content{
	-webkit-transform-origin: 17% 50%;
	        transform-origin: 17% 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.col2 .col-h1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 1.5;
	    -ms-flex: 1.5;
	        flex: 1.5;
}
.col2-leftinfo{
	font-size: 12px;
	line-height: 2em;
}
.col2-leftinfo p{
	padding-left: 1em;
	margin-top: 1em;
}
.col2-leftinfo i{
	margin-left: -1em;
}
.col2-img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transform-origin: center;
	        transform-origin: center;
	opacity: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding-right: 10px;
	border-right: 4px solid rgba(255,255,255,0.2);
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.col2-img.active{
	-webkit-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}
.col2-img img{
	height: 120px;
	padding: 7px;
	background-color: #fff;
	box-shadow: 1px 1px 1px #444;
}
.col2-img:before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right:-24px;
	top: 46%;
	border-left: 15px solid rgba(255,255,255,0.2);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.col2-rightinfo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	font-weight: lighter;
	font-size: 14px;
	white-space: nowrap;
}
/*--------------col3 flex---------*/
.col3 .col-h1 h1{
	font-size: 48px;
	font-weight: lighter;
	line-height: 50px;
	white-space: nowrap;
}
.col3 .col-h1 h1:before{
	position: absolute;
	height: 50px;
	width: 5px;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(0,0,0,0.2);
}
.col3 .col-content{
	-webkit-transform-origin: 34% 50%;
	        transform-origin: 34% 50%;
	color: #000;
	text-shadow: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #FFE74C;
}
.col3-info{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 8vh;
}
.col3-fire{
	font-size: 5.5em;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: gray;
	text-shadow: none;
}
.col3-fire.active{
	color: #EF7030;
	text-shadow: 0 0 200px #DC3D24;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}
.col3-right{
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 12px;
}
.col3-righttop{
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: auto;
}
.col3-righttop p{
	line-height: 3em;
	padding-left: 1em;
}
.col3-rightbottom{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	color: #000;
	text-shadow: none;
}
.col3-rightbottom-item{
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(0,0,0,0.05);
	-webkit-transition: background-color 4s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
	transition: background-color 4s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
	position: relative;
}
.col3-rightbottom-item.item1{
	background-color: #EF7030;
}
.col3-rightbottom-item.item2{
	background-color: #F48B31;
}
.col3-rightbottom-item.item3{
	background-color: #FBB731;
}
.col3-detail{
	position: absolute;
	width: auto;
	height: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	white-space: nowrap;
	text-shadow: 0 0 3px #000;
}
/*-------------col4 flex--------------*/
.col4 .col-content{
	-webkit-transform-origin: 51% 50%;
	        transform-origin: 51% 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #000;
	text-shadow: none;
}
.col4 .col-h1{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 2;
}
.col4 .col-h1 h1:before{
	background-color: rgba(0,0,0,0.2);
}
.col4-leftinfo{
	font-size: 12px;
	line-height: 2em;
}
.col4-leftinfo p{
	padding-left: 1em;
	margin-top: 1em;
}
.col4-leftinfo i{
	margin-left: -1em;
}
.col4-rightinfo{
	-webkit-box-flex: 1.5;
	    -ms-flex: 1.5;
	        flex: 1.5;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	border-top: 4px solid rgba(0,0,0,0.2);
	border-left: 4px solid rgba(0,0,0,0.2);
}
.col4-rightinfo img{
	padding: 7px;
	background-color: #fff;
	box-shadow: 1px 1px 1px #333;
	position: absolute;
}
.col4-count{
	height: 50px;
	font-size: 16px;
	font-weight: lighter;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),transparent);
	background: linear-gradient(to right,rgba(0,0,0,0.2),transparent);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 2;
}
.col4-count span{
	display: inline-block;
	width: 2em;
	font-size: 1.5em;
	font-weight: bold;
}
.col4-detail{
	text-shadow: none;
}

/*----------col5 flex-----------*/
.col5 .col-content{
	-webkit-transform-origin: 66% 50%;
	        transform-origin: 66% 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #00303F;
	text-shadow: none;
}
.col5 .col-h1 h1{
	font-size: 72px;
	font-weight: lighter;
	line-height: 80px;
	white-space: nowrap;
}
.col5 .col-h1 h1:before{
	position: absolute;
	height: 85px;
	width: 5px;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(255,255,255,0.2);
}
.col5-info{
	width: 100%;
	height: 50vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.col5-item{
	width: 19vw;
	min-width: 150px;
	height: 50vh;
	border: 1px solid rgba(255,255,255,0.2);
	box-sizing: border-box;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.col5-item img{
	width: 100%;
}
.col5-item p{
	padding: 0 10px;
	font-size: 12px;
}
.col5-item h3{
	font-weight: lighter;
}
.col5-detail{
	width: 20vw;
	min-width: 200px;
	text-shadow: none;
	background-color: rgba(0,0,0,0.1);
}
.col5-next{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.col5 .itemdeco{
	position: absolute;
	width: 3vw;
	height: 5vw;
}
.col5 .lefttop{
	left: -7px;
	top: -7px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}
.col5 .rightbottom{
	right: -7px;
	bottom: -7px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
}
/*-------------col6 flex-----------------*/
.col6 .col-content{
	-webkit-transform-origin: 84% 50%;
	        transform-origin: 84% 50%;
	color: #000;
	text-shadow: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #30BCED;
}
.col6-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	z-index: 1;
}
#col6-canvas{
	margin-top: -10vh;
	margin-bottom: -10vh;
	margin-right: -10vw;
}
.col6 .col-h1 h1{
	line-height: 100px;
	font-size: 96px;
	white-space: nowrap;
	font-weight: lighter;
}
.col6 .col-h1 h1:before{
	position: absolute;
	height: 105px;
	width: 5px;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(0,0,0,0.2);
}
.col6 .fa-angle-double-down{
	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.col6-leftinfo{
	font-size: 12px;
	line-height: 2em;
}
.col6-leftinfo p{
	padding-left: 1em;
	margin-top: 1em;
}
.col6-leftinfo i{
	margin-left: -1em;
}
.col6-detail{
	text-shadow: none;
	width: 400px;
}
/*---------------col7 flex----------*/
.col7 .col-content{
	-webkit-transform-origin: 100% 50%;
	        transform-origin: 100% 50%;
	color: #fff;
	background: #000 url(../img/col7-bg.jpg) center no-repeat;
	background-size: cover;
	text-shadow: none;
}
.col7-next{
	position: absolute;
	right: 10vw;
	bottom: 10vh;
}
.col7-detail{
	background-color: rgba(255,255,255,0.2);
}
.col7 .col-h1 h1{
	font-size: 72px;
	font-weight: lighter;
	line-height: 80px;
	white-space: nowrap;
}
.col7 .col-h1 h1:before{
	position: absolute;
	height: 85px;
	width: 5px;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(255,255,255,0.2);
}.col4-img1{
	-webkit-transform: rotateZ(-5deg) scale(1.5);
	        transform: rotateZ(-5deg) scale(1.5);
	top: 80vh;
	left: 80vw;
	opacity: 0;
}
.col4-img1.active{
	animation: col4img1 0.8s ease-out forwards 0.4s;
	-webkit-animation: col4img1 0.8s ease-out forwards 0.4s;
	-moz-animation: col4img1 0.8s ease-out forwards 0.4s;
}
@keyframes col4img1{
	40%{left: 10vw;top: 10vh;opacity: 1;-webkit-transform: scale(1) rotateZ(-5deg);transform: scale(1) rotateZ(-5deg);}
	100%{left: 0;top: 0;opacity: 1;-webkit-transform: scale(1) rotateZ(-13deg);transform: scale(1) rotateZ(-13deg);}
}
@-webkit-keyframes col4img1{
	40%{left: 10vw;top: 10vh;opacity: 1;-webkit-transform: scale(1) rotateZ(-5deg);transform: scale(1) rotateZ(-5deg);}
	100%{left: 0;top: 0;opacity: 1;-webkit-transform: scale(1) rotateZ(-13deg);transform: scale(1) rotateZ(-13deg);}
}

.col4-img2{
	-webkit-transform: rotateZ(20deg) scale(1.5);
	        transform: rotateZ(20deg) scale(1.5);
	top: 100vh;
	left: 0;
	opacity: 0;
}
.col4-img2.active{
	animation: col4img2 0.8s ease-out forwards 0.8s;
	-webkit-animation: col4img2 0.8s ease-out forwards 0.8s;
	-moz-animation: col4img2 0.8s ease-out forwards 0.8s;
}
@keyframes col4img2{
	40%{left: 5vw;top: 40vh;opacity: 1;-webkit-transform: scale(1) rotateZ(20deg);transform: scale(1) rotateZ(20deg);}
	100%{left: 15vw;top: 30vh;opacity: 1;-webkit-transform: scale(1) rotateZ(10deg);transform: scale(1) rotateZ(10deg);}
}
@-webkit-keyframes col4img2{
	40%{left: 5vw;top: 40vh;opacity: 1;-webkit-transform: scale(1) rotateZ(20deg);transform: scale(1) rotateZ(20deg);}
	100%{left: 15vw;top: 30vh;opacity: 1;-webkit-transform: scale(1) rotateZ(10deg);transform: scale(1) rotateZ(10deg);}
}.col7-info{
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #ff6;
    border-top: 1px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
p#start{
    position: relative;
    width: 16em;
    font-size: 200%;
    font-weight: 400;
    margin: 20% auto;
    color: #4ee;
    opacity: 0;
    z-index: 1;
    -webkit-animation: intro 1s ease-out;
    animation: intro 1s ease-out;
}

@-webkit-keyframes intro {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes intro {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.col7-info h1{
    position: absolute;
    width: 5em;
    left: 50%;
    top: 15%;
    font-size: 10em;
    text-align: center;
    margin-left: -2.5em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    -webkit-animation: logo 2s ease-out 1.5s;
    animation: logo 2s ease-out 1.5s;
}

.col7-info h1 sub{
    display: block;
    font-size: 0.5em;
    letter-spacing: 0;
    line-height: 1.8em;
}

@-webkit-keyframes logo {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
    0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { -webkit-transform: scale(0.1); transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles{
    position: absolute;
    width: 18em;
    height: 40em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg);
}

#titles p{
    text-align: justify;
    margin: 0.8em 0;
}

#titles p.center{
    text-align: center;
}

#titlecontent{
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 50s linear 4s infinite;
    animation: scroll 50s linear 4s infinite;
}

/* animation */
@-webkit-keyframes scroll {
    0% { top: 100%; }
    100% { top: -100%; }
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -100%; }
}.col-content.changesm{
	-webkit-transform-origin: center;
	        transform-origin: center;
	animation: contentchangesm 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
	-webkit-animation: contentchangesm 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
	-moz-animation: contentchangesm 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
@keyframes contentchangesm{
	100%{-webkit-transform: scale(0.6);transform: scale(0.6);opacity: 0}
}
@-webkit-keyframes contentchangesm{
	100%{-webkit-transform: scale(0.6);transform: scale(0.6);opacity: 0}
}

.col iframe.changelg{
	animation: iframechangelg 0.4s cubic-bezier(0.23, 1, 0.32, 1) forwards 0.1s;
	-webkit-animation: iframechangelg 0.4s cubic-bezier(0.23, 1, 0.32, 1) forwards 0.1s;
	-moz-animation: iframechangelg 0.4s cubic-bezier(0.23, 1, 0.32, 1) forwards 0.1s;
}
@keyframes iframechangelg{
	100%{opacity:1;-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes iframechangelg{
	100%{opacity:1;-webkit-transform: scale(1);transform: scale(1);}
}