*{
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}
body{
	color: #000;
	padding: 3% 10%;
}
body>h3{
	margin-top: 5%;
	text-align: center;
}
.projectclock,.projectcalculator,.projectdanmu,.projectcash,.projectalgo,.projectsimon,.projectttt{
	position: relative;
	color: #000;
	width: 100%;
	padding: 3% 0;
	border-bottom: 2px solid rgba(255,255,255,0.2);
}
/*------------------------------*/
.projectclock .clockbox{
	padding: 20px;
	width: 300px;
	height: 400px;
	margin: 0 auto;
}
.projectclock .break{
	float: left;
	width: 150px;
	height: 100px;
}
.projectclock .session{
	float: right;
	width: 150px;
	height: 100px;
}
.projectclock .break p,.projectclock .session p{
	font-size: 12px;
	text-align: center;
	margin: 10px 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.projectclock .break-time,.projectclock .session-time{
	font-size: 2em !important;
}
.projectclock .num{
	display: inline-block;
	width: 2em;
}
.projectclock .minus,.projectclock .plus{
	cursor: pointer;
}
.projectclock .clock{
	position: relative;
	float: left;
	width: 296px;
	height: 296px;
	border: 2px solid #f77;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}
.projectclock .clock.active{
	border-color: #e3008c;
}
.projectclock .clock.active2{
	border-color: purple !important;
	box-shadow: 0 0 8px 4px purple;
}
.projectclock .clock p{
	position: relative;
	z-index: 2;
	font-size: 48px;
	margin: 60px 0;
	text-align: center;
}
.projectclock .clock-dot{
	display: none;
}
.projectclock .clock-layer{
	position: absolute;
	width: 286px;
	height: 286px;
	bottom: 3px;
	left: 3px;
	border: 2px solid #555;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
}
.projectclock .clock-layer1{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #e3008c;
	height: 0;
	width: 100%;
}
.projectclock .clock-layer2{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: purple;
	height: 0;
	width: 100%;
}
.projectclock .clock-layer2.active{
	background-color: #f77 !important;
}
/*--------------------------*/
.clearfix{
	clear: both;
}
.projectcalculator .calbox{
	height: 530px;
	width: 300px;
	margin: 20px auto 0;
	border: 1px solid #333;
	overflow: hidden;
	background-color: #fff;
	color: #000;
}
.projectcalculator .caltitle{
	font-size: 12px;
	padding-left: 2%;
	height: 30px;
	line-height: 30px;
}
.projectcalculator .caltitle span{
	float: right;
	width: 40px;
	height: 30px;
	line-height: 28px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}
.projectcalculator .caltitle span:hover{
	background-color: #f10823;
	color: #fff;
}
.projectcalculator .calprogress{
	float: right;
	padding: 0 2% 0;
	height: 60px;
	font-size: 24px;
	line-height: 60px;
	color: #888;
}
.projectcalculator .calresult{
	float: right;
	padding: 0 2% 0;
	height: 120px;
	font-size: 72px;
	line-height: 120px;
	text-align: right;
}
.projectcalculator .calkey{
	float: left;
	width: 100%;
	height: 320px;
	border-collapse: collapse;
	font-size: 24px;
}
.projectcalculator .calkey td.smallfont{
	font-size: 16px;
}
.projectcalculator .calkey tr:not(.smallfont){
	background-color: #eee;
}
.projectcalculator .calkey td{
	width: 20%;
	height: 60px;
	text-align: center;
	cursor: pointer;
}
.projectcalculator .calkey td:hover{
	background-color: #ccc;
}
.projectcalculator .calkey td span{
	padding-left: 2px;
	font-size: 8px;
	vertical-align: top;
}
.projectcalculator .caltitle,.projectcalculator .calkey{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
/*----------------------------------*/
.projectdanmu .contentbox{
	position: relative;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin: 0 10% 10px;
	height: 300px;
	overflow: hidden;
	font-size: 15px;
	line-height: 30px;
	background-color: #fff;
}
.projectdanmu .contentbox p{
	margin: 0;
	position: absolute;
	white-space: nowrap;
}
.projectdanmu .buttons{
	text-align: center;
}
.projectdanmu input{
	display: block;
	width: 30%;
	height: 32px;
	margin: 10px auto;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.projectdanmu input:focus{
	box-shadow: 0 0 2px blue;
}
.projectdanmu button{
	background-color: #fff;
	width: 150px;
	height: 32px;
	border: 1px solid;
	border-radius: 2px;
	cursor: pointer;
}
.projectdanmu button.fire{
	color: purple;
}
.projectdanmu button.clear{
	color: #ccc;
}
/*-----------------------------*/
.changebox *{
	font-size: 14px;
	line-height: 1.5em;
}
.changebox{
	width: 300px;
	height: 400px;
	margin: 50px auto;
	border: 1px solid #000;
	color: #000;
}
.change-title{
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background-color: #ccc;
	width: 280px;
}
.change-content{
	float: left;
	width: 100%;
	height: 370px;
	background-color: #eee;
	display: flex;
	justify-content: space-between;
}
.change-left{
	flex: 1;
	border-right: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	padding: 0 10px;
}
.change-repo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.change-left input{
	margin: 1px 0;
	text-align: center;
	width: 70px;
}
.change-need,.change-actual{
	font-size: 16px;
	font-weight: bold;
}
.change-right{
	flex: 1;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
}
.change-right span{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	width: 70px;
}
.change-right input{
	height: 3em;
	align-self: stretch;
}
.change-closed,.change-insuff{
	position: absolute;
	width: 100%;
	height: 3em;
	line-height: 3em;
	font-size: 20px;
	color: green;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
	background-color: rgba(255,255,255,0.6);
	display: none;
}
.change-insuff{
	color: red;
}
/*--------------------------*/
.projectalgo{
	font-size: 14px;
	line-height: 3em;
}
.algoitem{
	display: flex;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}
.algoitem button{
	background-color: rgba(0,0,0,0.2);
	outline: none;
	border: none;
	color: #fff;
	transition: all 0.4s;
}
.algoitem button:hover{
	background-color: rgba(0,0,0,0.05);
}
.algoitem input{
	border: none;
	padding: 0 10px;
}
/*--------------------*/
.simon{
	position: relative;
	width: 400px;
	height: 400px;
	background-color: #fff;
	border: 20px solid #333;
	margin: 5% auto;
	border-radius: 50%;
	overflow: hidden;
	color: #000;
}
.simon-item{
	position: relative;
	box-sizing: border-box;
	width: 200px;
	height: 200px;
	float: left;
	border: 10px solid #333;
}
.simon-item1{
	background-color: #00a74a;
	border-left: none;
	border-top: none;
}
.simon-item2{
	background-color: #9f0f17;
	border-right: none;
	border-top: none;
}
.simon-item3{
	background-color: #cca707;
	border-left: none;
	border-bottom: none;
}
.simon-item4{
	background-color: #094a8f;
	border-right: none;
	border-bottom: none;
}
.simon-control{
	box-sizing: border-box;
	width: 240px;
	height: 240px;
	border: 10px solid #333;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -120px;
	top: 50%;
	margin-top: -120px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.simon-control-title{
	text-align: center;
	padding-top: 30px;
}
.simon-control-btn{
	height: 60px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	margin-top: 20px;
}
.simon-control-btn .leftpart{
	display: inline-block;
	margin: 0 5px;
	width: 60px;
}
.simon-control-btn .leftpart .countbox{
	box-sizing: border-box;
	width: 60px;
	height: 40px;
	line-height: 34px;
	background-color: #32050c;
	color: rgba(255,0,0,0.3);
	font-size: 18px;
	border: 3px solid #333;
	border-radius: 10px;
}
.simon-control-btn .middlepart{
	display: inline-block;
	margin: 0 5px;
	width: 40px;
}
.simon-control-btn .middlepart .startbtn{
	box-sizing: border-box;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: red;
	border: 3px solid #333;
	border-radius: 50%;
	box-shadow: 0 1px 4px #333;
	margin-bottom: 3px;
	cursor: pointer;
}
.simon-control-btn .rightpart{
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 40px;
}
.simon-control-btn .rightpart .strictbtn{
	box-sizing: border-box;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: yellow;
	border: 3px solid #333;
	border-radius: 50%;
	box-shadow: 0 1px 4px #333;
	margin-bottom: 3px;
	cursor: pointer;
}
.simon-control-btn .rightpart .stricton{
	position: absolute;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border: 2px solid #333;
	background-color: #32050c;
	border-radius: 50%;
	left: 50%;
	margin-left: -5px;
	bottom: 58px;
}
.simon-control-switch{
	text-align: center;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	margin-top: 20px;

}
.simon-control-switch .switchbox{
	position: relative;
	display: inline-block;
	width: 38px;
	height: 20px;
	background-color: #333;
	vertical-align: top;
	border-radius: 4px;
	cursor: pointer;
}
.simon-control-switch .switch{
	position: absolute;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 2px solid #333;
	border-radius: 4px;
	background-color: #41D3BD;
	top: 0;
	left: 0;
}

.simon-control-btn .leftpart .countnum.active{
	color: red;
}

.simon-control-btn .middlepart .startbtn.active{
	box-shadow: 0 1px 2px #333;
	margin-bottom: 2px;
}
.simon-control-btn .rightpart .strictbtn.active{
	box-shadow: 0 1px 2px #333;
	margin-bottom: 2px;
}
.simon-control-btn .rightpart .stricton.active{
	background-color: red;
}
.simon-control-switch .switch.active{
	left: auto;
	right: 0;
}
.simon-item1.active{
	background-color: #8CD790;
}
.simon-item2.active{
	background-color: #f94e3f;
}
.simon-item3.active{
	background-color: #feee7d;
}
.simon-item4.active{
	background-color: #30A9DE;
}
/*-----------------------------------*/
.tttbox{
	width: 450px;
	height: 450px;
	margin: 2% auto;
	background-color: #ccc;
	border: 5px solid #555;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-size: 48px;
	font-weight: bold;
}
.ttt-item{
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border: 5px solid #555;
	float: left;
	line-height: 140px;
	text-align: center;
}
.ttt-item:hover{
	background-color: #eee;
}
.ttt-item.player{
	color: green;
}
.ttt-item.ai{
	color: red;
}
.ttt-item.temp{
	color: transparent;
}
.tttinfo{
	text-align: center;
	height: 2em;
}
/*------------------------*/


.triangle{
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.05);
	transform: rotate(-45deg) scale(3);
}
.triangle.loaded{
	transform: rotate(-45deg) scale(1.8);
	transition: transform 0.8s;
}